body {
    background-image: url("../img/my_matchbox1gif.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: contain; /* Ensures full coverage */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100vh; 
    margin: 0; 
    font-family: "Montserrat", sans-serif;
    font-weight: 300; 
}

a {
    color: rgb(35, 35, 35);
    text-decoration: none;
    transition: color 0.6s ease-in-out, transform 0.6s ease; 
}
a:hover {
    color: #F85658;
    transform: scale(1.05); 
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    color:rgb(35, 35, 35);
    font-optical-sizing: auto;
    font-weight: 300; /* Lighter font weight */
    font-style: normal;
}

header {
    text-align: center;
    padding: 10px 40px; 
    background-color: rgba(255, 255, 255, 0.5); 
    border-bottom: 2.5px solid pink; 
    border-top: 2.5px solid pink; 
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15); 
    width: 100%;
    backdrop-filter: blur(4px); 
    
}

h1 {
    font-size: 2.2em; 
    text-transform: none;
    letter-spacing: 1.5px;
    font-weight: bold;
    color: #F85658; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); 
}

